body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra_navegacion{
    background-color: black;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: right;
}

.menu{
    width: 40%;
    border: 1px solid wheat;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li:last-of-type{
    background-color: red;
}

li{
    color: white;
}

li:hover{
    color: red;
    cursor: pointer;
}

input{
    border: 1px solid black;
    width: 200px;
    height: 3vh;
}

input:focus{
    background-color: rgb(176, 88, 88);
}

.cont_principal{
    position: fixed;
    top: 10vh;
    width: 100%;
    height: 90vh;
}

a:focus{
    color: green;
}

.cont_principal ul{
    display: flex;
    flex-direction: column;
}

.cont_principal li{
    color: black;
    font-weight: bold;
    font-size: 50px;
}

.cont_principal > ul > li{ 
    opacity: 70%;
}