body{
    margin: 0;
}

main{
    padding: 32%;
}

#progress{
    position: fixed;
    top: 0;
    width: 0%;
    background: red;
    height: 5vh;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root);
}


@keyframes progress-grow{
    from {width: 0;}
    to { width: 100%; }
}