body{
    margin: 0;
}

main{
    padding: 32%;
}

#progress{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;

    animation: progress-grow auto linear both;
    animation-timeline: scroll(root);
    animation-range:  0 200px;
}


@keyframes progress-grow{
    to{
        background: rgb(147, 147, 147);
        font-size: 25px;
        backdrop-filter: blur(5px);
    }
}